body{
background-image: url(../src/rain.gif);
background-color: rgb(83, 120, 131);
}

h3{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20vh;
    font-family: sans-serif;
    color: rgb(156, 48, 29);
}

button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(156, 48, 29);
    border-radius: 6px;
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

button:hover {
    color: whitesmoke;
    background-color: tomato;
    cursor: pointer;
}
