/* main body css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1 {
    color: whitesmoke;
    text-align: center;
    padding: 2px;
    font-size: 10vh;
    font-family: sans-serif;
}

section {
    height: 100vh;
    font-family: sans-serif;
}
