body{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
header{
    background-color: rgb(27, 27, 27);
    padding: 2vh;
    font-size: 3vh;
}
p{
    padding: 2vh;
    margin: auto 20% auto 20%;
    font-size: 3vh;
    color: rgb(27, 27, 27);
}
button{
    margin: 4vh auto;
}





.visuals{
    display: block; 
}
.bounce{
    animation: bounce 1s linear;
}
img{
    width: 20vh;
}
.box{
    display: inline-block;
    margin: 2vh;
}

@keyframes bounce{
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-30px);
    }
    90%{
        transform: translateY(-15px);
    }
}