body {
    background-color: rgb(110, 155, 155);
}

/* scoreboard */

.score {
    color: rgb(29, 29, 29);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score h2 {
    padding-left: 10vh;
    padding-right: 10vh;
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}


/* intro */

.intro {
    color: whitesmoke;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    margin: auto 20% auto 20%;
    transition: opacity 0.5s ease;
}

.intro p {
    text-align: justify;
    font-size: 3vh;
}

.details {
    color: rgb(240, 127, 107);
    font-weight: bold;
}


/* buttons */

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    background-color: tomato;
    border-radius: 6px;
    transition: 0.3s;
}

.show {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.intro button:hover,
.match button:hover {
    color: whitesmoke;
    background-color: rgb(236, 166, 154);
    cursor: pointer;
}

.play button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: tomato;
    background-color: whitesmoke;
}


/* timer */

.countdown {
    text-align: center;
    font-size: 3vh;
    font-family: sans-serif;
    color: rgb(29, 29, 29);
}


/* playfeild */

.match p {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    color: rgb(29, 29, 29);
    text-align: center;
    font-size: 50px;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}


/* animations */

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 3;
    pointer-events: all;
}

.animate{
    animation-play-state: running;
}
.paused {
    animation-play-state: paused;
}

@keyframes shakePlayer {
    0% {
        transform: rotateY(180deg) translateY(0px);
    }
    8% {
        transform: rotateY(180deg) translateY(-50px);
    }
    16% {
        transform: rotateY(180deg) translateY(0px);
    }
    24% {
        transform: rotateY(180deg) translateY(-50px);
    }
    32% {
        transform: rotateY(180deg) translateY(0px);
    }
    40% {
        transform: rotateY(180deg) translateY(-50px);
    }
    48% {
        transform: rotateY(180deg) translateY(0px);
    }
    56% {
        transform: rotateY(180deg) translateY(-50px);
    }
    64% {
        transform: rotateY(180deg) translateY(0px);
    }
    72% {
        transform: rotateY(180deg) translateY(-50px);
    }
    80% {
        transform: rotateY(180deg) translateY(0px);
    }
    88% {
        transform: rotateY(180deg) translateY(px);
    }
    100% {
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0% {
        transform: translateY(0px);
    }
    8% {
        transform: translateY(-50px);
    }
    16% {
        transform: translateY(0px);
    }
    24% {
        transform: translateY(-50px);
    }
    32% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(-50px);
    }
    48% {
        transform: translateY(0px);
    }
    56% {
        transform: translateY(-50px);
    }
    64% {
        transform: translateY(0px);
    }
    72% {
        transform: translateY(-50px);
    }
    80% {
        transform: translateY(0px);
    }
    88% {
        transform: translateY(px);
    }
    100% {
        transform: translateY(0px);
    }
}